@font-face {
    font-family: Roboto;
    src: url(/Landing-page/Roboto.ttf/Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
}
.img1{
    width: 120px;
    height: 20px;
}
ul{
   list-style: none;
   display: flex;
    gap: 10px;  
}
a{
    color: #e5e7eb;
    text-decoration: none;
}
p{
    color:#e5e7eb;
    font-size: 18px;
}
#word{
    color: #1f2937;
}
.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
}
.div1{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 90px 90px 90px;
}
.blah{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.sub-blah{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 20px;
}
h2{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
}
img{
    width: 400px;
    height:180px;
}
button{
    color: white;
    background-color: #3882F6;
    padding: 6px;
    margin: 6px;
    width: 100px;
    border-radius: 8px;
    border-style: none;
}

.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.boxes{
    display: flex;
    width: auto;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
h3{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}
.div3{
    display: flex;
    flex-direction: column;
    background-color: #E5e7eb;
    padding: 100px;
    
}
.quot{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin:0;
    padding:0;

}
.quote{
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    margin-right: 20px;
    padding: 0;
    color: #1f2937;
}
.footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 70px;
}
.foot{
    background-color: #3882F6;
    display: flex;
    justify-content:space-around;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.two{
    border: 2px solid white;
    padding: 3px;
}
h4{
    font-size: 24px;
    color: #F9FAF8;
}
